# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# training data
/training-videos
/training-images

#test data
/test-images
/test-videos
/tests

#misc
/imgs
/heuristics-test-images
/tools